include ../common-mixin/common-mixin

doctype html
html(lang='ru')
    +head("Datarockets cool task")
    body.home
        main Привет
            .vewgre srertrentr
            .vewgre srertrentr
            .vewgre srertrentr
            #container_1
            #container_2
            #container_3
            input
            input
            input
            input
    +foot
