-
    var vk_svg = '<svg class="icon-vk" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 14"><path d="M22.377,8.9a34.536,34.536,0,0,1,2.546,2.437,7.081,7.081,0,0,1,.913,1.251,0.886,0.886,0,0,1-.576,1.4l-3.788,0a3,3,0,0,1-2.412-.933c-0.524-.508-1.01-1.049-1.514-1.575a3.525,3.525,0,0,0-.682-0.576,0.81,0.81,0,0,0-1.261.292,3.63,3.63,0,0,0-.4,1.681c-0.041.848-.31,1.072-1.206,1.111a10.1,10.1,0,0,1-5.42-1.109A11.762,11.762,0,0,1,4.931,9.627a43.2,43.2,0,0,1-4.8-8.141c-0.3-.642-0.081-0.986.663-1C2.03,0.466,3.265.467,4.5,0.487a1.083,1.083,0,0,1,1.029.733A21.578,21.578,0,0,0,8.044,5.651a3.86,3.86,0,0,0,.949.993,0.587,0.587,0,0,0,.98-0.274,2.956,2.956,0,0,0,.218-0.93,13.179,13.179,0,0,0-.061-3.258A1.387,1.387,0,0,0,8.916.94C8.554,0.874,8.608.747,8.783,0.55A1.386,1.386,0,0,1,9.945,0h4.281a0.986,0.986,0,0,1,.916,1.06l0,4.525a1.3,1.3,0,0,0,.6,1.157,0.856,0.856,0,0,0,.855-0.4,13.984,13.984,0,0,0,2.41-3.525C19.3,2.26,19.553,1.681,19.8,1.1A0.916,0.916,0,0,1,20.763.473l4.12,0A2.267,2.267,0,0,1,25.247.5c0.694,0.113.885,0.4,0.67,1.042a9.68,9.68,0,0,1-1.638,2.7c-0.687.9-1.422,1.778-2.1,2.689a1.194,1.194,0,0,0,.2,1.971h0Z"/></svg>'
-
    var menuPiece_1 = [
    ['О компании'],
    ['Услуги и цены'],
    ['Акции'],
    ]
-
    var menuPiece_2 = [
    ['+7 (960) 47-999-73','tel:+79604799973','','tel','telephone'],
    ['+7 (952) 85-979-58','tel:+79528597958','','tel','telephone'],
    ['Контакты'],
    [vk_svg,'',true,'icon-vk-black'],
    ]

mixin header()
    header.header
        .frame
            nav
                +list(menuPiece_1,'header__menu header__left')
                +list(menuPiece_2,'header__menu header__right')
                +logotype('/','','header__logo')


